<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/styles.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/styles.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
